/* Estilos para el div contenedor */
.contenedor {
    display: grid;
    justify-content: center;
}

/* Estilos para el formulario */
.formulario {
    padding: 10px;
    border: 2px solid;
    width: 440px;
}


/* Estilos para los campos de datos del formulario */
.datosFormulario {
    display: grid;
    padding-top: 15px;
    grid-template-rows: repeat(6, auto);
    row-gap: 50px;

}

/* Estilos para el título y el párrafo del formulario */
h1,
p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/* Estilos para los div que contendrán los campos del formulario */
.campos {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

/* Estilos para las etiquetas del formulario */
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

/* Estilos para el botón de enviar datos del formulario */
.boton {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Estilos para los mensajes de error de los campos que no se llenen del formulario */
.errores{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: #fff;
    display: none;
    font-size: 14px;
    margin-top: -80px;
    margin-left: 340px;
    padding: 10px;
    position: absolute;
}

/* Estilos para el cuadro donde estará el código captcha */
#cb {
    height: 40px;
    width: 200px;
    border: 2px solid #ff0066;
    font-size: 30px;
    text-align: center;
    background: #000;
    color: white;
    position: absolute;
    margin-left: 50px;
}


#re {
    margin-top: 20px;
    position: absolute;
    font-size: 30px;
}




#chan {
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;

}

/* Estilos para el texto del código Captcha */
a {
    font-size: 25px;
    color: white;

}